body{
	padding-top: 40px;
}
.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto
}

.gray{
	color: #999;
}

#menu{
	position: fixed;
	top: 40px;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: block;
	padding-top: 20px;
	background-color: #fafafa;
	border-right: 1px solid #ddd;
	overflow-y: auto;
}

.nav-secondary > li > a {
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	
}
.nav-secondary > li > a > i {
	font-size: 15px;
}

.contentTab {
	background-color: #fff;
}

.loading{
	height: 32px;
	margin-top:20%;
	background:url(../img/loading.gif) no-repeat center;
}
